
h1, p {

	padding-left: 50px;
	color: rgba(155,44,178,0.8);

}


form {

	width: 100%;
	height: 600px;
}


form, input, textarea {

	display: block;
	width: 500px;
	height: 25px;
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;



}



