* {
	margin: 0;
	padding: 0;
	font-family: 'Vast Shadow', cursive;
}


header {

	width: 100%;
	height: 100px;
	float: left;
	background-color: tomato;
	text-align: center;
	line-height: 50px;
	color: maroon;

}

nav {

	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
}

nav a {

	display: block;
	width: 33.33%;
	height: 100%;
	float: left;
	background-color: rgba(150,50,88,0.5);
	text-decoration: none;
	line-height: 50px;
	color: white;

}


nav a:hover {

	background-color: gray;

}

nav a i:hover {

	color: midnightblue;
}


section {

	width: 80%;
	height: 800px;
	float: left;
	text-align: center;

}

article h1 {

	margin-top: 50px;
	color: rgba(22,99,245,0.8);
	font-family: 'Poly', serif;
}

section article p {

	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Poly', serif;



}

footer {

	width: 100%;
	height: 100px;
	background-color: powderblue;
	color: navy;
	float: left;
	text-align: center;
	padding-top: 50px;
	border-top: 5px black double;

}

.red {

	color: red;
}

.plava {

	color: purple;
}


div p {

	color: darkorange;
	font-family: 'Metal Mania', cursive;
	font-size: 30px;
}

aside {

	width: 20%;
	height: 500px;
	float: left;
	text-align: center;
	background-color: lavender;
	font-family: 'Poly', serif;

}

aside ul {

	width: 100%;
	height: 250px;
	list-style-type: none;
}

aside h2 {
	line-height: 50px;
	padding-top: 20px;
	color: navy;
}

aside ul li {

	width: 100%;
	height: 50px;
	display: block;
	line-height: 50px;
	margin-top: 10px;
	transition: 1.5 ease;

}

div iframe {

	margin-top: 50px;
}

aside ul li a {

	text-decoration: none;
	color: rgba(100,44,198,0.9);
}

aside ul li a:hover {
	background-color: lightcoral;


}

aside ul li a:hover, active {

	font-size: 170%;
}

